body {
  background-color: #302e3e;
  display: grid;

  height: 100svh;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 32px 1fr auto;
}

#header {
  background-color: #c4b4ff;
  grid-area: header;
}

#sidebar {
  background-color: #5d0ec0;
  grid-area: sidebar;
}

#content {
  background-color: #2f0d68;
  grid-area: content;
}

#footer {
  background-color: #861043;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
}
